---

---

<div class="mx-4 py-10 md:px-44 md:grid md:grid-cols-2 md:gap-36">
  <div class="mx-8 md:col-span-1 text-grøn">
    <h3 class="text-xl font-impact pb-2">Kontakt</h3>
    <p>Mail: mariafaroe@gmail.com</p>
    <p class="justify-center">Mobil:29122515</p>
    <a href="https://www.linkedin.com/in/maria-far%C3%B8-jakobsen-75678b264/">
      Linkedin</a
    >
  </div>
</div>
