<div class="mx-4 py-10 md:px-44">
  <section class="container mx-8">
    <h3 class="text-5xltele font-impact pb-2 text-grøn">Projekter</h3>
  </section>
  <div class="md:grid md:grid-cols-2">
    <div class="flex flex-col items-center mb-8">
      <h2 class="text-xl font-semibold mb-4 text-grøn">CA-Akasse</h2>

      <a href="https://ca-studiepartner.netlify.app/" target="_blank">
        <img
          src="caa.png"
          alt="Projekt 1"
          class="w-40 md:w-80 h-auto rounded-lg hover:scale-105 transition duration-300 ease-in-out"
        />
      </a>
    </div>

    <div class="flex flex-col items-center mb-8">
      <h2 class="text-xl font-semibold mb-4 text-grøn">Azad jewls</h2>

      <a
        href="http://andreahauberg.dk/azad_demir/products.html"
        target="_blank"
      >
        <img
          src="jewls.png"
          alt="Projekt 1"
          class="w-40 md:w-80 h-auto rounded-lg hover:scale-105 transition duration-300 ease-in-out"
        />
      </a>
    </div>
    <div class="flex flex-col items-center mb-8">
      <h2 class="text-xl font-semibold mb-4 text-grøn">Nicolai Lorentzen</h2>

      <a href="https://nicolailorenzen.netlify.app/" target="_blank">
        <img
          src="nicolai.png"
          alt="Projekt 1"
          class="w-40 md:w-80 h-auto rounded-lg hover:scale-105 transition duration-300 ease-in-out"
        />
      </a>
    </div>
    <div class="flex flex-col items-center mb-8">
      <h2 class="text-xl font-semibold mb-4 text-grøn">UX Copenhagen</h2>

      <a href="https://ux-copenhagen.netlify.app/" target="_blank">
        <img
          src="ux.png"
          alt="Projekt 1"
          class="w-40 h-auto md:w-80 rounded-lg hover:scale-105 transition duration-300 ease-in-out"
        />
      </a>
    </div>
  </div>
</div>
